
doctype html
html
  head
    meta(charset="utf8")
    title= title
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
    block header
      include common/header
    .content
      block col-left
        include common/col-left
      block content

    script(type='text/javascript' src='/javascripts/libs/popper.js')
    script(type='text/javascript' src='/javascripts/libs/jquery.min.js')
    script(type='text/javascript' src='/javascripts/libs/bootstrap.js')
    script(type='text/javascript' src='/javascripts/category-tree.js')
    script(type='text/javascript' src='/javascripts/common.js')

    block js