doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Image upload
    style.
      input,
      button {
        display: block;
        margin-top: 10px;
      }
      img {
        display: block;
        border: 1px solid lightgray;
        border-radius: 5px;
        background: lightgray;
        float: left;
        width: 120px;
        height: 120px;
      }
  body
    form#signupForm
      input#avatarUploadPath.form-control(type='text', placeholder='No image chosen', disabled='')
      input#avatarUpload(type='file')
      button(type='submit') Submit
    img#avatarPreview
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(type='text/javascript').
      let imgData = "";
      let data = {
        nicnkname: "alex",
        email: "karkin.ai@mail.ru",
        name: "Karkin Alexandr",
        phone: "+79851255678",
        password: "qwerty123",
        image: ''
      }
      $("#avatarUpload").on("change", function (e) {
        let file = $("#avatarUpload")[0].files[0];
        console.log("upload: ", file);
        $("#avatarUploadPath").attr('placeholder', file.name);
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
          imgData = e.target.result;
          $("#avatarPreview").attr("src", imgData);
          data.image = imgData;
        }
      });
      $("#signupForm").on("submit", function (e) {
        e.preventDefault();
        console.log("123");
        fetch("http://localhost:3000/api/upload", {
          method: "POST",
          body: JSON.stringify(data),
          redirect: "follow",
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/json'
          }
        }).then(resp => {
          console.log("success");
        console.log("Response: ", resp);
      });
      });
