body
  //padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-size: 14px !important

a
  color: #00B7FF

html, body
  width: 100%
  height: 100%

.glyphicon
  display: inline-block
  background-repeat: no-repeat
  background-size: 100%

.glyphicon-chevron-right
  background: url('/images/arrow_right_black_24px.svg')
  height: 24px
  width: 24px

.header
  position: relative
  display: block
  min-height: 56px

.content
  position: relative
  display: block
  // max-width: 1110px
  //flex-direction: row
  //justify-content: space-around
  align-items: center
  margin-left: auto
  margin-right: auto
  min-height: 600px

  > h3:first-child
    position: absolute
    top: 20px

.col-left
  position: relative
  display: inline-block
  width: 340px
  height: 100%
  float: left
  //border-right: 1px solid rgba(0, 0, 0, 0.125)
  padding-top: 60px
  //background: lightblue

.no-margin-bottom
  margin-bottom: 0 !important

.nav-link1
  padding-top: 10px !important
  padding-bottom: 10px !important


.navbar-1
  min-height: 43px !important

.glyphicon-chevron-right:before 
  content: "" !important

.header-container
  position: relative
  width: 1170px !important
  margin-left: auto
  margin-right: auto

.col-center
  position: relative
  display: inline-block
  min-width: 857px
  height: 100%
  padding: 40px

.category-tree
  position: relative

  ul
    padding-left: 30px

  > ul > li
    text-transform: uppercase !important

  ul > li
    text-transform: none
    list-style-type: none

    > ul
      display: none
      transform: scaleY(0)
      transform-origin: top right
      transition: transform .2s ease-out
      > li:first-child
        .category-title, .glyphicon
          position: relative
          left: -15px

    > a
      text-decoration: none
      color: #252525
      > .category-title
        display: inline-block
        margin-left: 5px
        font-size: 18px

      &.active
        + .glyphicon
          transform: rotate(90deg)
          float: left
        ~ ul
          display: inline-block
          transform: scaleY(1)
          transform-origin: top right



    > .glyphicon
      position: relative
      float: left
      top: 5px

    //> ul
    //  display: none

.wall
  border-radius: 2px
  background-color: #f9f9f9
  box-shadow: 0px 2px 1.66px 0.34px rgba(0, 0, 0, 0.07)
  padding: 15px 10px 15px 15px

.product-item
  min-height: 250px
  &:not(:first-child)
    margin-top: 20px
  > .card-body
    > img
      float: left

.product-content
  position: relative
  display: inline-block
  padding: 10px 30px

  .product-info
    .price
      color: black
      font-weight: 700
      font-size: 18px
      margin: 0 0 10px
    ul
      list-style-type: none
      padding-left: 0
      font-size: 12.8px
      color: #404040

.pagination-wrapper
  position: relative
  display: block
  top: 50px

  .pagination
    position: absolute
    left: 0

.input-400
  min-width: 400px

.navbar-right.padding-right
  padding-right: 30px


a.basket
  //padding-top: 16px !important
  //padding-bottom: 10px !important 

  >span
    position: relative
    display: inline-block
    width: 18px
    height: 18px
    top: 4px
    right: 8px

    background-image: url(/images/basket.svg)

  &:hover > span
    background-image: url(/images/basket_hover.svg)

span.arrow-left
  position: relative
  display: inline-block
  width: 18px
  height: 18px
  top: 4px
  right: 5px

  background-image: url(/images/arrow_left_black_18px.svg)

span.arrow-right
  position: relative
  display: inline-block
  width: 18px
  height: 18px
  top: 4px
  left: 5px

  background-image: url(/images/arrow_right_black_18px.svg)


.navbar-nav>li>a
  padding-top: 10px
  padding-bottom: 10px

.profile
  float: right !important

  .dropdown-menu
    min-width: 213px

  .profileInfo
    display: inline-block
    span
      padding-right: 10px
      &.user-name
        font-size: 12pt
      &.user-role
        font-size: 10pt
        letter-spacing: 0.5px
        text-transform: uppercase

  .avatar-wrapper
    float: right
    display: inline-block

    img
      width: 50px
      height: 50px
      border-radius: 50%


form.form-horizontal
    position: absolute
    top: 0
    width: 100%


#avatarUpload
  visibility: hidden


#avatarPreview
  position: relative
  display: block


#avatarPreview > img
  width: 65px
  height: 65px
  

.tree 
  font-family: "Roboto", sans-serif
  font-size: 12pt
  padding-top: 20px
  padding-bottom: 10px
  padding-right: 15px
  ul 
    list-style-type: none

  ul li 
    ul 
      display: none
      &.opened 
        display: block
    
  

  li 
    padding-top: 5px
    >a 
      line-height: 28px
  



.fa.category
  margin-right: 8px
  font-size: 14pt
  padding: 5px 6.5px
  color: rgba(0, 0, 0, 0.8)

  &:before
    content: " "

  &:hover 
    cursor: pointer
    text-decoration: none
    color: rgba(0, 0, 0, 1)

  &.has-child

    &:before 
      content: "\f054"
  
    &.opened:before 
      content: "\f078"
  

#myCarousel
  width: 857px !important


.float-right
  float: right

.form-wrapper
  position: relative
  width: 600px
  margin-left: auto
  margin-right: auto


.product-item.card.card-default
  img
    width: 240px
    height: 240px

  ul.product-desc-list
    max-width: 530px

    > li
      line-height: 22px
      > span
        color: #5a5a5a
        font-weight: bold
        font-size: 11pt