//
   Created by alex on 25.10.17.

extends signup

block form
  form.form-horizontal(onsubmit='javascript:void(0);')
    fieldset
      legend Signup showroom
      .form-group
        label.col-lg-2.control-label(for='inputName') Name
        .col-lg-10
          input#inputName.form-control(type='text', placeholder='Name')
      .form-group
        label.col-lg-2.control-label(for='inputEmail') Email
        .col-lg-10
          input#inputEmail.form-control(type='text', placeholder='Email')
      .form-group
        label.col-lg-2.control-label(for='inputPassword') Password
        .col-lg-10
          input#inputPassword.form-control(type='password', placeholder='Password')
      .form-group
        label.col-lg-2.control-label(for='textArea') About
        .col-lg-10
          textarea#textArea.form-control(rows='3')
      .form-group
        label.col-lg-2.control-label(for='inputCity') City
        .col-lg-10
          input#inputCity.form-control(type='text', placeholder='City')
      .form-group
        label.col-lg-2.control-label(for='inputStreet') Street
        .col-lg-10
          input#inputStreet.form-control(type='text', placeholder='Street')
      .form-group
        label.col-lg-2.control-label(for='inputHouse') House
        .col-lg-10
          input#inputHouse.form-control(type='text', placeholder='House')
      .form-group
        label.col-lg-2.control-label(for='inputPhone') Phone
        .col-lg-10
          input#inputPhone.form-control(type='text', placeholder='Phone')


      .form-group
        label.col-lg-2.control-label(for='avatarUploadPath') Photo
        .col-lg-8
          input#avatarUploadPath.form-control(type='text', placeholder='No image chosen' disabled)
        .col-lg-2
          button#avatarUploadButton.btn.btn-default(type="button") Open ..
        input#avatarUpload(type='file')
        div#avatarPreview
      .form-group
        .col-lg-10.col-lg-offset-2
          //button.btn.btn-default(type='reset') Cancel
          button#submitButton.btn.btn-primary(type='submit') Sign up
  #source-button.btn.btn-primary.btn-xs(style='display: none;') < >


block js
  script(type='text/javascript').
    $("form.form-horizontal").on("submit", function (evt) {
      let inputsSelectors = [
        {selector: "#inputName", field: 'nickname'},
        {selector: "#inputEmail", field: 'email'},
        {selector: "#inputPhone", field: 'phone'},
        {selector: "#inputPassword", field: 'password'},
        {selector: "#textArea", field: 'about'}
      ];
      let addressFields = [
        {selector: "#inputCity", field: "city"},
        {selector: "#inputStreet", field: "street"},
        {selector: "#inputHouse", field: "house"}
      ];
      let reqData = {};

      for (let obj of inputsSelectors) {
        reqData[obj.field] = $(obj.selector).val();
      }

      reqData['address'] = {};

      for (let addr of addressFields) {
        reqData['address'][addr.field] = $(addr.selector).val();
      }

      reqData['image'] = '[image]';

      fetch(#{settings.appSvcUrl} + '/signup_showroom', {
          method: 'POST',
          body: JSON.stringify(reqData),
          redirect: 'follow'
        }
      ).then(
        (resp) => {
          window.location.href = resp.url;
        },
        (err) => {

        }
      );
    });
