extends ../layout

block col-left

block content
  div.form-wrapper(style="width: 380px")
    form.form-horizontal(onsubmit='javascript:void(0);')
      fieldset
        legend Sign in
        .form-group
          label.col-lg-2.control-label(for='inputEmail') Email
          .col-lg-10
            input#inputEmail.form-control(type='text', placeholder='Email')
        .form-group
          label.col-lg-2.control-label(for='inputPassword') Password
          .col-lg-10
            input#inputPassword.form-control(type='password', placeholder='Password')
        .form-group
          .col-lg-10.col-lg-offset-2
            //button.btn.btn-default(type='reset') Cancel
            button#submitButton.btn.btn-primary(type='submit') Sign in
    #source-button.btn.btn-primary.btn-xs(style='display: none;') < >


block js
  script(type='text/javascript').
    $("form.form-horizontal").on("submit", function (evt) {
      evt.preventDefault();

      let inputsSelectors = [
        {selector: "#inputEmail", field: 'email'},
        {selector: "#inputPassword", field: 'password'}
      ];

      let reqData = {};

      for (let obj of inputsSelectors) {
        reqData[obj.field] = $(obj.selector).val();
      }

      reqData['image'] = '[image]';

      fetch(#{settings.appSvcUrl} + '/signin', {
          method: 'POST',
          body: JSON.stringify(reqData),
          redirect: 'follow'
        }
      ).then((resp) => {
        window.location.href = resp.url;
      });
    });
