.header
  nav.navbar.navbar-default.no-margin-bottom
    .container-fluid.header-container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') #{company}
        form.navbar-form.navbar-left(role='search')
          .form-group
            input.input-400.form-control(type='text', placeholder=search_placeholder)
          button.btn.btn-default(type='submit') #{search_label}

      if isAuthorized
        ul.nav.navbar-nav.profile
          li.dropdown
            a.porfile.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
              .profileInfo
                span.user-name
                  | #{username}
                br
                span.user-role
                  | #{role}
              div.avatar-wrapper
                img(src=avatar)
                span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') #{mypage_label}
              li
                a(href='#') #{edit_label}
              li
                a(href='#') #{logout_label}
              //li.divider
      else
        ul.nav.navbar-nav.float-right
          li.dropdown(role="menu")
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
              | #{signup_label}
            ul.dropdown-menu(role='menu')
              li: a(href='/signup_designer')
                | #{signup_designer_label}
              li: a(href='/signup_showroom')
                | #{signup_showroom_label}
          li
            a(href="/signin")
              | #{signin_label}
  nav.navbar.navbar-default.navbar-1
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.header-container
      ul.nav.navbar-nav
        each item in navitems ? navitems : ['']
          li(class=item.klass)
            a.nav-link.nav-link1(href=item.href) #{item.label}
            if isActive
              span.sr-only (current)
