//
   Created by alex on 26.10.17.

extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/bootstrap-carousel.css')

block content
  .col-center

    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner(role='listbox')
        .item.active
          img.first-slide(src='/images/showrooms.jpg')
          .container
            .carousel-caption
              h1 Шоурумы
        .item
          img.second-slide(src='/images/designers.jpg')
          .container
            .carousel-caption
              h1 Дизайнеры
        .item
          img.third-slide(src='/images/clothes.jpg')
          .container
            .carousel-caption
              h1 Одежда
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        //span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.fa.fa-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.fa.fa-chevron-right(aria-hidden='true')
        span.sr-only Next



block js
  script(type='text/javascript' src='/javascripts/homepage.js')