extends ../layout

block content
  .col-center
      //div#productsPages

      div#productItems
      .pagination-wrapper.hidden
        nav(aria-label='...')
          ul.pagination
            //li.page-item.disabled
            //  a.page-link(href='#', tabindex='-1')
            //    span.arrow-left
            //    span
            //      | Назад
            //li.page-item.active
            //  a.page-link(href='#') 1
            //li.page-item
            //  a.page-link(href='#')
            //    span
            //      | Вперед
            //    span.arrow-right


block js
  script(type="text/javascript").
    var url = '#{appSvcUrl}/get_items';

    fetch(url).then(function (data) {
      data.json().then(function (products) {
        console.log('products', products);
        var $items = $("#productItems");
        for (var item of products.items) {
          var $item = $("<div></div>")
            .addClass("product-item card card-default")
            .appendTo($items);
          var $cBody = $("<div></div>")
            .addClass("card-body")
            .appendTo($item);

          if (item.photos.length > 0)
            $("<img />").attr('src', '/images/clothes/' + item.photos[0]).appendTo($cBody);

          var $content = $("<div></div>")
            .addClass("product-content")
            .appendTo($cBody);

          var href = "#";

          $content.html(`<h3><a href='${href}'>${item.name}</a></h3>`);
          var $info = $("<div></div>")
            .addClass("product-info")
            .appendTo($content);

          $("<div></div>")
            .addClass("price")
            .text(`от ${item.des_price} до ${item.sw_price}`)
            .appendTo($info);

          var $propsList = $("<ul></ul>")
            .addClass("product-desc-list")
            .appendTo($info);

          var props = [
            {type: "text", name: "about", label: "Описание"},
            {type: "array", name: "sizes", label: "Размер"},
            {type: "text", name: 'showroom', label: "Шоурум"},
            {type: "text", name: 'designer', label: "Дизайнер"}
          ];

          var propsLi = [];

          for (var prop of props) {
            val = ""
            switch (prop.type) {
              case "text":
                val = item[prop.name].toString()
                break;
              case "array":
                val = item[prop.name].join(", ")
                break;
              default:
                val = "?"
                break;
            }
            propsLi.push(`<li><span>${prop.label}</span>: ${val}</li>`)
          }

          $propsList.html(propsLi.join(""));
        }
      });

    });

//    fetch(url).then(function(data) {
//       data.json().then(function(products) {
//         var count = products.count;
//         var ps = 10;
//         var pages = count / ps;
//         var $pages = $("#pages");
//
//         if(pages > 1) {
//           var pagItems = []
//
//           var btnBack = "<li class='page-item disabled'><a class='page-link' href='javascript:void(0);' tabindex='-1'>";
//           btnBack += "<span class='arrow-left'></span><span>Назад</span></a></li>"
//           pagItems.push(btnBack);
//
//           for (var i = 0; i < pages; i++) {
//             $("<div></div>)")
//               .addClass("page")
//               .append($("<div></div>").addClass("product-items"))
//               .appendTo($pages);
//
//              pagItems.push(`<li class='page-item ${i == 0 ? 'active' : ''}' data-index='${i + 1}'>${i+1}<a class='page-link' href='javascript:void(0);'></a></li> `);
//           }
//
//           var btnNext = "<li class='page-item'><a class='page-link' href='javascript:void(0);'>";
//           btnNext += "<span class='arrow-right'></span><span>Назад</span></a></li>"
//           pagItems.push(btnNext);
//
//           $(".pagination-wrapper ul.pagination").html(pagItems.join(""));
//           $(".pagination-wrapper").removeClass("hidden");
//         }
//
//         function renderPage(idx) {
//           var start = idx * ps;
//           var end = (start + ps) % count;
//
//           $items = $pages.children(".page").eq(idx).find(".product-items");
//
//           for (var item of products.items.slice(start, end)) {
//             var $item = $("<div></div>")
//               .addClass("product-item card card-default")
//               .appendTo($items);
//             var $cBody = $("<div></div>")
//               .addClass("card-body")
//               .appendTo($item);
//
//             if (item.photos.length > 0)
//               $("<img />").attr('src', '/images/clothes/' + item.photos[0]).appendTo($cBody);
//
//             var $content = $("<div></div>")
//               .addClass("product-content")
//               .appendTo($cBody);
//
//             var href = "#";
//
//             $content.html(`<h3><a href='${href}'>${item.name}</a></h3>`);
//             var $info = $("<div></div>")
//               .addClass("product-info")
//               .appendTo($content);
//
//             $("<div></div>")
//               .addClass("price")
//               .text(`от ${item.des_price} до ${item.sw_price}`)
//               .appendTo($info);
//
//             var $propsList = $("<ul></ul>")
//               .addClass("product-desc-list")
//               .appendTo($info);
//
//             var props = [
//               {type: "text", name: "about", label: "Описание"},
//               {type: "array", name: "sizes", label: "Размер"},
//               {type: "text", name: 'showroom', label: "Шоурум"},
//               {type: "text", name: 'designer', label: "Дизайнер"}
//             ];
//
//             var propsLi = [];
//
//             for (var prop of props) {
//               val = ""
//               switch (prop.type) {
//                 case "text":
//                   val = item[prop.name].toString()
//                   break;
//                 case "array":
//                   val = item[prop.name].join(", ")
//                   break;
//                 default:
//                   val = "?"
//                   break;
//               }
//               propsLi.push(`<li><span>${prop.label}</span>: ${val}</li>`)
//             }
//
//             $propsList.html(propsLi.join(""));
//           }
//         }
//
////         $("ul.pagination .page-link").on("click", function() {
////           var isArrow = $(this).find("span").length > 0;
////           var $obj = $(this)
////           var pgIdx = parseFloat($obj.parent("index"));
////
////           if($obj.parent().hasClass('disabled'))
////             return;
////
////
////           if (isArrow) {
////             $("ul li")
////           } else {
////             var $li = $obj.parent();
////             $li.siblings("li").removeClass("active");
////             $li.addClass("active");
////             renderPage(parseFloat(pgIdx);
////           }
////
////           var $disabled = $("ul.pagination .disabled");
////
////           if($disabled.length > 0) {
////             var side = $disabled.children(".page-link").attr('tabindex') === -1 ? 'left' : 'right';
////             if(side === 'left' && pgIdx > 0 || side == 'right' && pgIdx < pages) {
////               $disabled.removeClass('disabled');
////             }
////           } else if(pgIdx in [0, pages-1]) {
////               $obj.parent().addClass("disabled");
////           }
//           });
//
//
//       //});
//
//    });